.site-header
  min-height: 50px
  background-color: #333
  z-index: 9999
  position: fixed
  top: 0px
  width: 100%
  &.home-header
    background-color: rgba(0,0,0,.7)
    .user-options
      background-color: rgba(0,0,0,.5)
  ul
    list-style: none
    width: 60%
    margin: 0 auto
    li
      display: inline-block
      margin-right: 15px
      a
        color: rgba(255,255,255,.8)
        text-transform: uppercase
        font-size: 12px
        padding: 17px 15px
        display: block
        &:hover
          background-color: rgba(0,0,0,0.2)
        .icon-down
          position: relative
          left: 5px
          top: 3px


.site-header .user-options
  position: absolute
  width: 150px
  margin: 0px
  padding: 0px
  background-color: #333
  li
    display: block
    border-bottom: 1px solid rgba(0,0,0,.2)
    width: 100%
    a
      font-size: 10px
      padding: 10px
