.bg-slideshow
  background-color: $grey
  position: absolute
  width: 100%
  height: 100%
  top: 0px


.search-panel
  width: 400px
  margin: 200px auto
  background-color: rgba(255,255,255,.9)
  h3
    margin-top: 0px
    margin-bottom: 0px
  &.expanded
    width: 800px
    .main-search-container
      margin-right: 30px
  .main-search-container
    width: 370px
  .expanded-search
    width: 370px

.search-form
  float: left
  .time-picker-group
    padding-left: 0px

.submit-group
  margin-top: 10px
  border-top: 1px solid $borders
  padding: 15px

.transport-group
  margin-top: 25px

.extra-time-group
  padding-top: 5px
  padding-bottom: 5px
  span
    position: relative
    top: 3px
// .search-form
//   label
//     min-width: 70px
//   .form-control
//     display: inline-block
//     width: 80%
