
#map
  position: absolute
  width: 78%
  height: 100%
  left: 387px


#result-container
  position: fixed
  width: 390px
  overflow: hidden
  height: 100%
  top: 51px
  border-right: 4px solid $gray-mid

#direction-panel
  line-height: 30px
  padding-left: 10px
  background-color: $white
  padding: 10px 15px
  i
    font-size: 12px
#map
  margin-right: 400px

.direction-options
  list-style: none
  padding: 0px
  margin: 0px
  li
    display: table-cell
    min-height: 59px
    a
      padding: 11px 34px 32px 34px
      display: block
      &:hover
        background-color: $gray
        color: $gray-light
      &.car-item
        padding: 18px 42px 32px 34px
    &.active
      a
        border-bottom: 2px solid
        background-color: $gray
        color: $gray-light
    i
      line-height: 0px
      font-size: 18px
    .icon-car
      font-size: 22px
      position: relative
      top: 16px
    .icon-bike
      font-size: 28px
      position: relative
      top: 18px
    .icon-train
      font-size: 28px
      position: relative
      top: 20px
    .icon-walk
      font-size: 29px
      top: 20px
      position: relative

@media print
  #map
    height: 500px
    margin: 0
  #right-panel
    float: none
    width: auto
