
#map
  position: absolute
  width: 55%
  height: 100%
  left: 800px

#result-container
  position: fixed
  width: 390px
  overflow: hidden
  height: 100%
  top: 56px
  border-right: 2px solid $gray-mid

.direction-container
  line-height: 30px
  padding-left: 10px
  background-color: $white
  padding: 10px 15px
  overflow-y: auto
  height: 100%
  padding-bottom: 80px
  i
    font-size: 12px


#map
  margin-right: 400px

.direction-options
  list-style: none
  padding: 0px
  margin: 0px
  li
    display: table-cell
    min-height: 59px
    a
      padding: 11px 34px 32px 34px
      display: block
      &:hover
        background-color: $gray
        color: $gray-light
      &.car-item
        padding: 18px 42px 32px 34px
    &.active
      a
        border-bottom: 2px solid
        background-color: $gray
        color: $gray-light
    i
      line-height: 0px
      font-size: 18px
    .icon-car
      font-size: 22px
      position: relative
      top: 16px
    .icon-bike
      font-size: 28px
      position: relative
      top: 18px
    .icon-train
      font-size: 28px
      position: relative
      top: 20px
    .icon-walk
      font-size: 29px
      top: 20px
      position: relative

.rating-container
  border-bottom: 1px solid $border
  margin-bottom: 15px
  h5
    margin: 0px

.rating-list
  +ul-reset
  margin: 10px 0px 0px 0px
  li
    display: inline-block
    a
      font-size: 30px
      margin-right: 15px
    &:last-child a
      margin-right: 0px
    &:hover
      cursor: pointer

  h5
    border-bottom: 1px solid $border !Important
    display: block
    padding-bottom: 8px
    font-size: 12px
    font-weight: bold
    padding-top: 8px
    width: 97%

.no-route-container
  position: fixed
  left: 50%
  top: 400px

.rating-list-module-cont
  position: relative
  left: -2px
  top: -5px
  .rating-list
    display: inline-block
  .total-text
    position: relative
    top: -2px
    margin-left: 10px


#secondary-panel
  position: fixed
  left: 396px
  z-index: 9999
  width: 405px
  background-color: $white
  top: 56px
  padding: 10px
  overflow-y: auto
  height: 100%
  padding-bottom: 70px
  border-right: 2px solid $gray-mid


@media print
  #map
    height: 500px
    margin: 0
  #right-panel
    float: none
    width: auto
