.icon-car
  font-size: 16px
  position: relative
  top: 3px
  line-height: 0px

.icon-bike
  font-size: 26px
  position: relative
  top: -2px
  line-height: 0px

.icon-train
  position: relative
  font-size: 22px
  top: 3px
  line-height: 0px
  left: -3px

.icon-walk
  position: relative
  top: 0px
  font-size: 24px
  left: -4px
