.search-form.main-search-container
  .form-group
    label From
    input.form-control#origin(
      placeholder="Address, Station Etc."
      ng-model="query.from"
      required=""
      gmap-autocomplete=""
      ng-class="{'error': form.from}"
      )


  .form-group.floating-label
    label To
    input.form-control#destination(
      placeholder="Address, Station Etc."
      ng-model="query.to"
      required=""
      ng-enter="search()"
      gmap-autocomplete=""
      ng-class="{'error': form.to}"
      )
