<!DOCTYPE html>
<!--[if IE 8 ]>    <html class="ie8 ielt9"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
  <head>
    <title>IISPPT</title>
    <base href="/" />


    <meta name="robots" content="noindex">
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="true" name="HandheldFriendly" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <meta content="text/html;charset=UTF-8" http-equiv="content-type" />

    <%= stylesheet_link_tag    "app" %>
    <link href="https://file.myfontastic.com/TR5N4EiwojJ4hSdF3Q97YR/icons.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:100normal,100italic,300normal,300italic,400normal,400italic,500normal,500italic,700normal,700italic,900normal,900italic' rel='stylesheet' type='text/css'>
<%= javascript_include_tag "app" %>
    <!-- <script type="text/javascript" src="http://52.77.47.185/assets/app-4d34e54da66d40fc8951f14970c9347e.js"></script> -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDkDby_SwLbui6CD-qQ7qAw3YZiEk0yF4&libraries=places"></script>
  </head>

  <body ng-app="client" ng-class="bodyClass">
    <div ui-view=""></div>
  </body>

</html>
